<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>

    <th:block th:replace="~{partials/header.html :: header}"></th:block>
</head>

<body>

<!-- Navigation bar -->
<th:block th:replace="~{partials/navbar.html :: navbar}"></th:block>
<!-- Navigation bar -->



<h2 style="margin-top: 5px">Guess the number!</h2>

<div class="container mt-5">
    <div class="card-body">
    <form action="/roll-dice" method="post">
        <label for="guess">Guess</label>
        <input type="text" name="guess" id="guess">
        <input type="submit" value="Guess">
    </form>
    </div>



    <th:block th:replace="~{partials/footer.html :: footer}"></th:block>


</body>

</html>